<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.project.snsproject.mapper.FeedRecommendMapper">

    <resultMap id="feedInfo" type="com.ht.project.snsproject.model.feed.FeedsInfo">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="date" column="date"/>
        <result property="publicScope" column="publicScope"/>
        <result property="goodCount" column="goodCount"/>
        <result property="commentCount" column="commentCount"/>
        <collection property="files" resultMap="file"/>
    </resultMap>

    <resultMap id="file" type="com.ht.project.snsproject.model.feed.Files">
        <result property="fileIndex" column="fileIndex"/>
        <result property="filePath" column="filePath"/>
        <result property="fileName" column="fileName"/>
    </resultMap>

    <select id="findLatestAllFeedList" parameterType="com.ht.project.snsproject.model.feed.FeedsParam"
            resultMap="feedInfo">

        SELECT x.id AS id,
            x.userId AS userId,
            x.title AS title,
            x.content AS content,
            x.date AS date,
            x.publicScope AS publicScope,
            x.goodCount AS goodCount,
            x.commentCount AS commentCount,
            b.fileIndex AS fileIndex,
            b.filePath AS filePath,
            b.fileName AS fileName
        FROM
            (SELECT a.id, a.userId,
                    a.title, a.content,
                    a.date, a.publicScope,
                    COUNT(DISTINCT d.id) AS goodCount,
                    COUNT(DISTINCT e.id) AS commentCount
            FROM feeds a
            LEFT OUTER JOIN goods d ON a.id = d.feedId
            LEFT OUTER JOIN comments e ON a.id = e.feedId
            WHERE a.publicScope = 'ALL'
                AND a.userId NOT IN(#{userId})
            <if test="pagination.cursor != null">
                AND a.id<![CDATA[<]]>#{pagination.cursor}
            </if>
            GROUP BY a.id
            ORDER BY a.id DESC
            LIMIT #{pagination.listSize} ) x
        LEFT OUTER JOIN images b ON x.id = b.feedId
        ORDER BY x.id DESC
    </select>

    <select id="getFeedRecommendListByLatestOrder" parameterType="com.ht.project.snsproject.model.Pagination"
            resultType="com.ht.project.snsproject.model.feed.RecommendFeedInfo">

        SELECT a.id, a.userId,
        a.title, a.content,
        a.date, a.publicScope,
        b.filePath, GROUP_CONCAT(b.fileName ORDER BY b.fileIndex ASC) AS fileNames
        FROM feeds a
        LEFT JOIN images b
        ON (a.id = b.feedId)
        WHERE a.publicScope = 'ALL'
        <if test="cursor != null">
            AND a.id<![CDATA[<]]>#{cursor}
        </if>
        GROUP BY a.id
        ORDER BY a.id DESC
        limit #{listSize};
    </select>

</mapper>