<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.project.snsproject.mapper.FileMapper">
    <insert id="fileListUpload" parameterType="java.util.List">
        INSERT INTO images(path, fileName, fileIndex, feedId)
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.path}, #{item.fileName}, #{item.fileIndex}, #{item.feedId})
        </foreach>
    </insert>

    <select id="getFilePath" parameterType="int" resultType="String">
        SELECT path From images
        WHERE feedId = #{feedId} AND fileIndex = '1'
    </select>

    <select id="getFiles" parameterType="int" resultType="com.ht.project.snsproject.model.feed.FileVo">
        SELECT fileIndex, path, fileName FROM images
        WHERE feedId = #{feedId}
    </select>

    <delete id="deleteFile" parameterType="int">
        DELETE FROM images
        WHERE feedId = #{feedId}
    </delete>
</mapper>