<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.project.snsproject.mapper.FriendMapper">
    <insert id="requestFriend" parameterType="String">
        INSERT INTO friends(userId, targetId, friendStatus)
        VALUES (#{userId}, #{targetId}, 'REQUEST'),
        (#{targetId}, #{userId}, 'RECEIVE')
    </insert>

    <select id="getFriendRelationStatus" parameterType="String"
            resultType="com.ht.project.snsproject.model.friend.Friend">
        SELECT IFNULL(MAX(friendStatus),'NONE')
        AS friendStatus
        FROM friends
        WHERE userId = #{userId} AND targetId= #{targetId}
    </select>

    <update id="updateFriendRequestToFriend" parameterType="com.ht.project.snsproject.model.friend.FriendStatusInsert">
        UPDATE friends
        SET friendStatus = #{friendStatus}
        WHERE (userId = #{userId} AND targetId = #{targetId})
        OR (userId = #{targetId} AND targetId = #{userId})
    </update>

    <select id="getFriendList" parameterType="com.ht.project.snsproject.model.friend.FriendListParam"
            resultType="com.ht.project.snsproject.model.friend.FriendList">
        SELECT id, targetId
        FROM friends
        WHERE userId = #{userId} AND friendStatus = #{friendStatus}
        <if test="pagination.cursor!=null">
            AND id <![CDATA[<]]> #{pagination.cursor}
        </if>
        ORDER BY id DESC
        LIMIT #{pagination.listSize}
    </select>

    <insert id="blockUser" parameterType="String">
        INSERT INTO friends(userId, targetId, friendStatus)
        VALUES (#{userId}, #{targetId}, 'BLOCK')
    </insert>

    <delete id="deleteBlockUser" parameterType="String">
        DELETE FROM friends
        WHERE userId = #{userId} AND targetId = #{targetId} AND friendStatus = 'BLOCK'
    </delete>

    <delete id="deleteFriend" parameterType="String">
        DELETE FROM friends
        WHERE (userId = #{userId} AND targetId = #{targetId})
        OR (userId = #{targetId} AND targetId = #{userId})
    </delete>
</mapper>