<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.project.snsproject.mapper.UserMapper">
    <insert id="join" parameterType="com.ht.project.snsproject.model.UserJoin">
        INSERT INTO users(userId, password, email, name, nickname, birth)
        VALUES(#{userId}, #{password}, #{email}, #{name}, #{nickname}, #{birth})
    </insert>

    <select id="userIdCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        from users
        WHERE userId = #{userId}
    </select>
</mapper>